{% extends 'base.html' %}

{% block content %}
  <div class="container is-fluid mb-6">
    <h1 class="title has-text-centered is-2">Bot's bookmaker bet history</h1>
    {% for history_item in bet_history %}
      <div class="card mb-4 has-text-white {{ 'has-background-success' if history_item.state == 'won' else ('has-background-danger' if history_item.state == 'lost' else 'has-background-info') }}">
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column is-2">
                <strong>Date:</strong> {{ history_item.submission_date }}
              </div>
              <div class="column">
                <strong>Event:</strong> [{{ history_item.category_name }}] {{ history_item.event_name }}
              </div>
              <div class="column">
                <strong>Market:</strong> {{ history_item.market_name }}: {{ history_item.selection_name }}
                ({{ '%.2f'|format(history_item.odds) }})
              </div>
              <div class="column is-1">
                <strong>Stake:</strong> {{ '%.2f'|format(history_item.stake) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
