{% extends 'base.html' %}

{% block content %}
  <div class="container is-fluid mb-6">
    <h1 class="title has-text-centered is-2">Bot's bet history</h1>
    {% for history_item in bet_history %}
      <div class="card mb-4 has-text-white {{ 'has-background-' + ('success' if history_item.success else 'danger') }}"
           role="button" style="cursor: pointer;">
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column is-2">
                <strong>Date:</strong> {{ history_item.submission_date.strftime('%Y-%m-%d %H:%M:%S') }}
              </div>
              <div class="column">
                <strong>Event:</strong> {{ history_item.event_name }}
              </div>
              <div class="column">
                <strong>Market:</strong> {{ history_item.market_name }}: {{ history_item.selection_name }}
                ({{ '%.2f'|format(history_item.odds) }})
              </div>
              <div class="column is-1">
                <strong>Stake:</strong> {{ '%.2f'|format(history_item.stake) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-hidden is-justify-content-center">
        <div class="column is-6">
          <h5 class="title is-5 has-text-centered">Details</h5>
          <pre><code>{{ history_item.details_pretty }}</code></pre>
        </div>
        {% if not history_item.success %}
          <div class="column">
            <h5 class="title is-5 has-text-centered">Bookmaker response</h5>
            <pre><code>{{ history_item.bookmaker_response_pretty }}</code></pre>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      document.querySelectorAll('.card').forEach(element => {
          element.addEventListener('click', e => {
              e.preventDefault();

              const wasNotExpanded = element.nextElementSibling.classList.contains('is-hidden');
              element.nextElementSibling.classList.toggle('is-hidden');

              if (wasNotExpanded) {
                  element.nextElementSibling.scrollIntoView({
                      block: 'center',
                      behavior: 'smooth'
                  });
              }
          });
      });
  </script>
{% endblock %}
