@keyframes rotate {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
#filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 100%; }
  #filters .config-item-list {
    padding: 1rem 0;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1); }
    #filters .config-item-list .config-navigator {
      padding-left: .5em;
      cursor: pointer; }
    @media (max-width: 960px) {
      #filters .config-item-list {
        width: 90%;
        margin-bottom: 1rem; }
        #filters .config-item-list:last-of-type {
          margin-bottom: 0; } }
    @media (min-width: 960px) {
      #filters .config-item-list {
        width: 30%;
        margin-right: 1rem; }
        #filters .config-item-list:last-of-type {
          margin-right: 0; } }
    #filters .config-item-list ul {
      overflow-y: auto; }
      @media (max-width: 960px) {
        #filters .config-item-list ul {
          min-height: 2rem;
          max-height: 75vh; } }
      @media (min-width: 960px) {
        #filters .config-item-list ul {
          height: 75vh; } }
    #filters .config-item-list li {
      padding: 10px;
      margin: 5px;
      border-radius: 5px; }
      #filters .config-item-list li span {
        display: flex;
        align-items: center; }
      #filters .config-item-list li input[type=number] {
        width: -moz-available;
        width: -webkit-fill-available; }
        #filters .config-item-list li input[type=number][readonly] {
          background-color: rgba(237, 41, 57, 0.2); }
      #filters .config-item-list li input[type=checkbox] {
        margin: auto; }
      #filters .config-item-list li.selectable span {
        cursor: pointer; }
      #filters .config-item-list li.selectable:hover {
        background-color: lightsteelblue; }
      #filters .config-item-list li.selectable.active {
        background-color: lightgreen;
        font-weight: bold; }

#notifications-container {
  padding: 0 1rem;
  margin-bottom: 5rem; }
  @media (max-width: 960px) {
    #notifications-container {
      font-size: 12px; } }
  @media (min-width: 960px) {
    #notifications-container {
      font-size: 15px; } }
  #notifications-container .notification {
    position: relative;
    overflow: hidden;
    background-color: white;
    transition: box-shadow .5s ease-out, opacity 3s, margin 1.5s ease-in, padding 1.5s ease-in, max-height 2.5s ease-in;
    z-index: 1;
    padding: .5em 5em .5em .5em;
    margin: 1em auto; }
    #notifications-container .notification::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      transition: opacity 1s linear; }
    #notifications-container .notification.uptime-short::before {
      background-image: linear-gradient(to left, #3eb489, white 20%);
      opacity: 1; }
    #notifications-container .notification.uptime-medium {
      background-image: linear-gradient(to left, #ff7538, white 20%); }
      #notifications-container .notification.uptime-medium::before {
        background-image: linear-gradient(to left, #3eb489, white 20%);
        opacity: 0; }
    #notifications-container .notification.uptime-long {
      background-image: linear-gradient(to left, #ff7538, white 20%); }
      #notifications-container .notification.uptime-long::before {
        background-image: linear-gradient(to left, #9370db, white 20%);
        opacity: 1; }
    #notifications-container .notification.added {
      box-shadow: 0 0 1em 0.5em rgba(144, 238, 144, 0.4); }
    #notifications-container .notification.updated {
      box-shadow: 0 0 1em 0.5em rgba(135, 206, 250, 0.4); }
    #notifications-container .notification.removed {
      box-shadow: 0 0 1em 0.5em rgba(240, 128, 128, 0.4);
      opacity: 0;
      max-height: 0 !important;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0; }
    #notifications-container .notification .n--uptime {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.3em;
      margin: 0.5rem 0.5rem 0 0; }
    #notifications-container .notification .title {
      font-size: 1.1em;
      margin-bottom: 0.2em; }
    #notifications-container .notification .content {
      font-size: 1em; }
      @media (min-width: 960px) {
        #notifications-container .notification .content {
          display: flex;
          align-items: center; } }
      #notifications-container .notification .content .notification-item .title {
        font-size: 1em;
        margin-right: 0.5em;
        margin-bottom: 0; }
      @media (min-width: 960px) {
        #notifications-container .notification .content .notification-item {
          display: flex;
          align-items: center;
          width: 20%; }
          #notifications-container .notification .content .notification-item:nth-child(1) {
            width: 10%; }
          #notifications-container .notification .content .notification-item:nth-child(2) {
            width: 10%; }
          #notifications-container .notification .content .notification-item:nth-child(3) {
            width: 40%; }
          #notifications-container .notification .content .notification-item:nth-child(4) {
            width: 40%; } }
      @media (max-width: 960px) {
        #notifications-container .notification .content .notification-item div {
          display: inline; } }
      #notifications-container .notification .content p {
        margin-bottom: 0.2em; }
      #notifications-container .notification .content ul {
        list-style: '\02192' inside;
        margin: 0; }
        #notifications-container .notification .content ul li {
          margin: 0; }

#status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 99999;
  color: #e87632; }
  @media (max-width: 1024px) {
    #status-bar {
      justify-content: center; } }
  #status-bar .status-bar-item {
    padding: 0 1rem;
    border-right: 1px solid #e87632; }
    #status-bar .status-bar-item:last-of-type {
      border-right: none;
      padding-right: 0; }
    #status-bar .status-bar-item:first-of-type {
      padding-left: 0; }
    #status-bar .status-bar-item strong {
      color: #e87632; }
    #status-bar .status-bar-item span {
      text-transform: uppercase; }
    #status-bar .status-bar-item a {
      text-decoration: underline;
      color: #e87632; }

/*# sourceMappingURL=style.css.map */
