<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/839c11d014.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <title>Casino Winner Scanner</title>
</head>
<body>
<nav class="navbar is-dark">
  <div class="navbar-brand is-align-items-center">
    <a href="{{ url_for('app.main') }}" class="navbar-item">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Main page" title="Main page">
    </a>
    <a role="button" class="navbar-burger" data-target="mainNav" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="mainNav" class="navbar-menu">
    <div class="navbar-end">
      {% if g.admin %}
        <a href="{{ url_for('bots.add_bot') }}" class="navbar-item">
          Add bot
        </a>
        <a href="{{ url_for('bots.overview') }}" class="navbar-item">
          Bot overview
        </a>
        <a href="{{ url_for('config.main') }}" class="navbar-item">
          Configure
        </a>
        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
          Log out
        </a>
      {% else %}
        <a href="{{ url_for('auth.login') }}" class="navbar-item">
          Log in
        </a>
      {% endif %}
    </div>
  </div>
</nav>

{% if g.admin %}
  <div id="status-bar" class="has-background-dark p-2">
    <div class="status-bar-item">
      <strong class="is-hidden-touch">Events:</strong><i class="fas fa-dice is-hidden-desktop"></i>
      <span id="status-events">&horbar;</span>
    </div>
    <div class="status-bar-item">
      <strong class="is-hidden-touch">Notifications:</strong><i class="fas fa-envelope is-hidden-desktop"></i>
      <span id="status-notifications">&horbar;</span>
    </div>
    <div class="status-bar-item">
      <strong class="is-hidden-touch">Heavy load:</strong><i class="fas fa-weight-hanging is-hidden-desktop"></i>
      <span id="status-heavy-load">&horbar;</span>
    </div>
    <div class="status-bar-item">
      <strong class="is-hidden-touch"><a href="{{ url_for('app.get_last_errors') }}" target="_blank">Errors</a>:</strong><i class="fas fa-exclamation-circle is-hidden-desktop"></i>
      <span id="status-error">&horbar;</span>
    </div>
  </div>
{% endif %}

{% block content %}{% endblock %}
</body>
<script>
    const burger = document.querySelector('.navbar-burger');
    const navMenu = document.getElementById('mainNav');

    burger.addEventListener('click', e => {
        e.preventDefault();
        burger.classList.toggle('is-active');
        navMenu.classList.toggle('is-active');
    });
</script>
{% if g.admin %}
  <script src="{{ url_for('static', filename='js/statusManager.js') }}"></script>
{% endif %}
{% block scripts %}{% endblock %}
</html>
