{% extends 'base.html' %}

{% block content %}
  {% if g.admin %}
    <div id="notifications-container" class="container is-fluid"></div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% if g.admin %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/placeBet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notificationComponent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notificationManager.js') }}"></script>

    <script>
        const notificationManager = new NotificationManager();
        NotificationComponent.getSoundMinUptime();

        setInterval(async () => {
            await notificationManager.fetchNotifications();
        }, 5000);
    </script>
  {% endif %}
{% endblock %}
